
body {
    background:#F5EAEA;
    margin: 0 auto;
    min-height: 100vh;
    grid-gap: 2em;
} 

fieldset {
    border: 0 none;
    }        
    
    legend span.accessibility {
        position: absolute;
        left: -9999px;
        width: 100px;
        height: auto;
        overflow: hidden;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 1000px;
    }
    
    .input {
        border-radius: 20px;
        text-align: left;
        padding: 1em;
        max-width: 250px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    
    .boxone,.form {
        border-radius: 20px;
        text-align: center;
        flex: 1;
        padding: 30px;
        margin: 30px;
        min-height: 500px;
        max-width: 400px;
    }

    .form {
        background-color:#598A8E;
    }
    .boxone {
        background-color:#000D7C;
    }
