body {
    background-color: #F5EAEA; 
   }
   @font-face {
    font-family: expo-sans-pro;
    src: url(https://use.typekit.net/hdw2xvn.css);
}
   h1 {
     font-family: expo-sans-pro, sans-serif;
     font-style: normal;
     font-weight: 700;
     color:  #000D7C;
     font-size: 100;
    }   
    h2 {
        font-family: expo-sans-pro, sans-serif;
        font-style: normal;
        font-weight: 700;
        color:  #000D7C;
        font-size: 75;
       }   
@font-face {
    font-family: proxima-nova-condensed, sans-serif;
    src: url(https://use.typekit.net/hdw2xvn.css);
}
   p {
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    color: #000;
}
header {
   background-color: #CAD0D9;
} 
footer {
    background-color: #CAD0D9;
    }   
nav li {
display: inline-block;
}
nav ul {
    padding: 0px;
    }
nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;   
    }
