/*general*/

body {
  background-image: linear-gradient(#f5eaea, #d7a9a9);
  margin: 0 auto;
  min-height: 150vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "main"
    "footer";
}

@font-face {
  font-family: expo-sans-pro;
  src: url(https://use.typekit.net/hdw2xvn.css);
}
h1,
h2 {
  font-family: expo-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000d7c;
}
h1 {
  font-size: 50px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
  margin-block-end: 0em;
}

@font-face {
  font-family: proxima-nova-condensed, sans-serif;
  src: url(https://use.typekit.net/hdw2xvn.css);
}
p,
.a-search,
.whylist,
.count-container {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding-inline-start: 0px;
  list-style-type: none;
}
h3,
.h2-filmpage,
.validated {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #000;
}

h4 {
  margin-block-end: 0px;
  margin-block-start: 0.5em;
}

.validated {
  display: none;
  color: #2b7868;
}

.link,
.green-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  min-width: 150px;
  max-height: 60px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  color: white;
  text-decoration: none;
  transition: 300ms;
}

.link {
  background-image: linear-gradient(#000d7c, #000d7c, #121652);
  background-color: #000d7c;
}

.link:hover {
  box-shadow: 10px 5px 30px 10px #b5777737;
  cursor: pointer;
}

.link:active,
.green-link:active {
  background-image: none;
  font-size: 19px;
}

.link:visited {
  color: white;
  text-decoration: none;
}
footer {
  background-color: #cad0d9;
  margin: 0;
}
.copyright {
  text-align: center;
}
nav li {
  display: inline-block;
}
nav ul {
  padding: 0px;
}
nav a {
  color: #000;
  text-decoration: none;
}

section {
  max-width: auto;
}

ul,
.contact-link,
.contact-link:visited {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #000;
  padding-inline-start: 0px;
  list-style-type: none;
  text-decoration: none;
}

.footer-text {
  display: none;
}

header {
  display: block;
  max-height: 126px;
  background-color: #cad0d9;
}
.logo {
  max-width: 175px;
  height: auto;
  position: relative;
}

.login {
  float: right;
  margin-right: 2em;
}

.login:hover {
  cursor: pointer;
}

button {
  border: none;
}

nav {
  padding: 1em;
  max-height: 126px;
  display: flex;
  justify-content: space-between;
}

.menu {
  flex-direction: column;
  z-index: 1;
  background-color: #cad0d9;
  position: absolute;
  width: 40%;
  box-shadow: 15px 10px 30px 2px #8a4f5a8b;
  right: 0px;
  display: none;
}

.menu-button {
  font-size: 40px;
  background: none;
}

.menu-button:hover {
  cursor: pointer;
}

i {
  color: #000d7c;
}

.form-error {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #820000;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
}
.footer {
  display: flex;
}

.info,
.resrc,
.company,
.follow {
  margin: 0, auto;
  padding: 1em;
}

.loader {
  border: 20px solid #7f5258c1;
  border-top: 20px solid #000d7c;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*dropdown in nav*/

.navtext {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #000d7c;
  border-radius: 5px;
  padding: 19px;
  background-color: #e8eaef;
  min-width: 100%;
}

.text-screen-small {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #000d7c;
  margin-right: 1em;
}

.navtext:hover,
.navtext:focus {
  background-color: #d7a9a9;
  border-radius: 5px;
  padding: 19px;
}

#currentpage {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.profilbtn,
.search-button,
.cart-button {
  background-color: #e8eaef;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.7em;
}

.cart-button {
  font-size: 25px;
  padding: 16px;
}

.profilbtn:hover,
.profilbtn:focus,
.cart-button:focus,
.cart-button:hover,
.search-button:hover,
.search-button:focus {
  background-color: #d7a9a9;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cad0d9;
  box-shadow: 0px 8px 16px 0px #00084e56;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #d7a9a9;
}

.show {
  display: block;
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
.homesection:nth-child(1) {
  grid-area: homesection-one;
}
.homesection:nth-child(2) {
  grid-area: homesection-two;
}
.homesection:nth-child(3) {
  grid-area: homesection-three;
}
.homesection:nth-child(4) {
  grid-area: homesection-four;
}
.homesection:nth-child(5) {
  grid-area: homesection-five;
}
.homesection:nth-child(6) {
  grid-area: homesection-six;
}
.create-creator {
  grid-area: create-creator;
}
.create-watcher {
  grid-area: create-watcher;
}
.weekly-feature {
  grid-area: weekly-feature;
}
.popular-creators {
  grid-area: popular-creators;
}
.new-uploads {
  grid-area: new-uploads;
}
.pop-text {
  grid-area: pop-text;
}
.new-text {
  grid-area: new-text;
}
.hey {
  grid-area: hey;
}
.boxone {
  grid-area: boxone;
}
.form {
  grid-area: form;
}
.pickme {
  grid-area: pickme;
}
.search-films {
  grid-area: search-films;
}
.cart-container {
  grid-area: cart-container;
}
.cart-checkout-container {
  grid-area: cart-checkout;
}
aside {
  grid-area: aside;
}
.choose-w {
  grid-area: choose-watcher;
}
.choose-c {
  grid-area: choose-creator;
}
.create-watcher {
  grid-area: choose-watcher;
}
.create-creator {
  grid-area: choose-creator;
}
footer {
  grid-area: footer;
}

/*cart*/

.cart-checkout-container {
  background-color: #e8eaef;
  min-width: 340px;
  max-width: 700px;
  height: 250px;
  border-radius: 20px;
  margin: 1em;
  box-shadow: 15px 10px 30px 2px #8a4f5a8b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-container {
  background-color: #e8eaef;
  min-width: 340px;
  max-width: 700px;
  min-height: 75%;
  margin: 1em;
  border-radius: 20px;
  box-shadow: 15px 10px 30px 2px #8a4f5a8b;
}

.count-container {
  background-color: #2b7868;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 2;
}

.purchase-item {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff7f;
  padding: 1em;
  margin-bottom: 1em;
}

.purchase-img {
  max-width: 70%;
}

.purchase-info {
  padding-right: 40px;
}

.total-container {
  display: flex;
  flex-direction: row;
  float: right;
  padding: 0em 3em 0em;
}

.total-text {
  padding-right: 1em;
}

/*index*/

.main-frontpage {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "homesection-one"
    "homesection-two"
    "homesection-four"
    "homesection-three"
    "homesection-five"
    "homesection-six";
}

.first-picture,
.second-picture,
.third-picture {
  width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

/*modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: auto;
}

.login-box {
  display: block;
  background-color: #598a8e;
  margin: 15% auto;
  padding: 20px;
  max-width: 350px;
  max-height: 100%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 20px 20px 50px 10px #03094290;
}

.close,
.close-create,
.close-me,
.remove-item,
.close-menu {
  color: rgba(0, 0, 0, 0.456);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close-menu {
  font-size: 60px;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5em;
  margin-top: 10px;
  height: 40px;
  align-items: center;
}

.close:hover,
.close-me:hover,
.remove-item:hover,
.close-menu:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-create {
  color: #f5eaea;
}

.close-create:hover {
  color: #f5eaea61;
  text-decoration: none;
  cursor: pointer;
}

.login-text {
  font-size: 20px;
}

fieldset {
  margin-top: 3em;
  border: 0 none;
  margin-bottom: 3em;
}

legend span.accessibility {
  position: absolute;
  left: -9999px;
  width: 100px;
  height: auto;
  overflow: hidden;
}

.login-input,
.checkout-input,
.checkout-input-small {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 1em;
}

/*filmpage*/

.filmpage {
  display: grid;
  grid-gap: 1em;
  min-height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

.h1-filmpage {
  font-size: 40px;
  padding: none;
  margin-block-start: 0;
  margin-block-end: 10px;
}

.h2-filmpage {
  font-weight: 800;
  color: #000d7c;
  text-decoration: none;
}

.film-info {
  display: inline-flex;
  display: flex;
  flex-direction: row;
  min-width: 500px;
}

.fp {
  font-size: 18px;
  padding: 15px;
}

.picture-block {
  margin: auto;
  max-width: 500px;
  max-height: 400px;
}
.film-pic {
  width: 100%;
  border-radius: 10px;
}

.text-block {
  text-align: left;
  margin: 2em;
  max-width: 500px;
}

.rentbtn {
  display: flex;
  justify-content: center;
}

.modalrent {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  overflow: auto;
}

.gotocheckout {
  display: block;
  background-color: #e5e6ec;
  margin: 15% auto;
  padding: 20px;
  max-width: 350px;
  max-height: 100%;
  border-radius: 20px;
  text-align: center;
  box-shadow: 20px 20px 50px 10px #03094290;
}

.small-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #96969a;
  font-size: 16px;
  cursor: pointer;
}

/*searchpage*/

.search-text {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.film-text {
  display: flex;
  justify-content: space-between;
}

.price {
  color: #000d7c;
  font-weight: 700;
}

.searchfilms {
  width: 100%;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: none;
  margin-top: 1em;
  background-color: #ffffffba;
}

.searchfilms:hover,
.searchfilms:focus {
  background-color: #ffffff;
}

.films {
  margin: auto;
}

.h2-search {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 0;
}

.h2-search {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 25px;
}

.a-search:visited {
  text-decoration: none;
}

.a-search:hover {
  text-decoration: underline;
}

.nav-search {
  display: inline-block;
  display: none;
  position: relative;
}

.thumbnails-search {
  width: 300px;
  border-radius: 5px;
}

.featured,
.romance,
.action,
.documentary,
.thriller,
.horror {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-block {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 300px;
  margin: auto;
}

.gone-first,
.gone-second {
  display: none;
}

/*profil*/

.accountpage {
  grid-template-areas:
    "header"
    "main"
    "main"
    "aside"
    "aside"
    "footer";
}

.main-accountpage {
  margin: 1em;
}

.h2account {
  font-size: 18px;
}

.h1account {
  margin-block-end: 0px;
}

.profile-picture {
  border-radius: 50%;
  width: 50%;
  height: auto;
}
.enkel-logo {
  max-width: 50px;
}

.explore {
  margin: 3em;
}

.watchlist {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  background-color: #598a8e;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 1em;
}

.thumbnail {
  max-width: 150px;
}

.following {
  flex-direction: column;
  margin: auto;
}

.small-thumbnails {
  border-radius: 50%;
  max-width: 100px;
  padding: 5px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-info,
.view-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*checkout*/
.checkout {
  background-image: none;
  background: #e5e6ec;
  margin: 0 auto;
  display: grid;
  min-height: 100vh;
}

.payment-choice {
  display: flex;
  justify-content: center;
}

.payment-option {
  margin-left: 1em;
  margin-bottom: 1em;
}

.main-checkout {
  display: flex;
  margin: 1em;
}

.checkout-form {
  background-color: #e7e8e8;
  flex: 1;
  border-radius: 20px;
  text-align: center;
  padding: 30px;
  margin: auto;
  max-width: 400px;
  box-shadow: 10px 10px 30px 10px #00063b55;
}

.checkout-input-small {
  width: 40%;
}

/*choose sign up*/

.create-watcher,
.create-creator {
  padding: 20px 0px 20px 0px;
  max-width: 490px;
  height: auto;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  box-shadow: 15px 10px 30px 2px #8a4f5a8b;
}

.choose-header {
  margin-top: 0em;
}

.choosebody {
  margin: 0em;
  grid-template-areas:
    "header"
    "choose-watcher"
    "choose-creator"
    "footer";
}

.choose-w,
.choose-c {
  margin: 1em;
}

.choose-header {
  margin-top: 2em;
  color: #edd9d9;
}

.whylist {
  color: #f5eaea;
}
/*
.choose-w,.choose-c {
    padding: 30px;
    min-height: auto;
    max-width: 350px;
} */

.green-link {
  background-image: linear-gradient(#598a8e, #598a8e, #3b5b5e);
  background-color: #598a8e;
}

.create-watcher {
  background-image: url(../images/background-watcher.jpg);
}

.create-creator {
  background-image: url(../images/background-creator.jpg);
}

/*make account*/

.text-popup,
.text-popup-small {
  color: #f5eaea;
}

.click {
  height: 2.5em;
}

.create-user {
  background: #f5eaea;
  margin: 0 auto;
  min-height: 100vh;
  grid-gap: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
}

.boxone,
.form,
.pickme {
  flex: 1;
  border-radius: 20px;
  text-align: center;
  padding: 30px;
  margin: 30px;
  min-height: 450px;
  max-width: 400px;
}

.form {
  background-color: #598a8e;
  box-shadow: 15px 10px 30px 2px #8a4f5a8b;
}

.boxone {
  display: none;
  background-color: #000d7c;
  position: fixed;
  z-index: 1;
  max-width: 400px;
  height: 200px;
  left: 0;
  right: 0;
  overflow: auto;
  box-shadow: 20px 20px 50px 10px #6c4444a5;
}

.boxone-v2 {
  display: none;
}

.make-account-h2 {
  color: #ffffff;
}

.pickme {
  min-height: auto;
  background-color: #000d7c;
}

/*learn more*/

.learnmore {
  margin: 0 auto;
  grid-template-areas:
    "header"
    "main"
    "main"
    "aside"
    "aside"
    "footer";
}

.mainlearnmore {
  display: grid;
  grid-gap: 1em;
  max-width: 350px;
  margin: 0 auto;
}

h3 {
  font-size: 20px;
}
/*
    .aside-learnmore {
        margin: 0 auto;
        max-width: 100%;
        flex-direction: column;
    } */
.aside-learnmore {
  display: grid;
  grid-template-areas:
    "choose-watcher choose-creator"
    "choose-watcher choose-creator";
}

/*contact page*/
.main-contact {
  margin: 0 auto;
}
.contact-container {
  margin: 0 auto;
  min-height: 600px;
  margin-bottom: 2em;
}

textarea {
  margin-bottom: 1em;
  min-width: 350px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 250px;
}

/*purchase page*/

.purchasepage {
  background: #f5eaea;
  min-height: 100vh;
}

.mainpp {
  display: grid;
  display: flex;
  flex-direction: column;
}

.pp-pic {
  max-width: 300px;
  max-height: auto;
}

.ppp {
  display: flex;
  justify-content: center;
}

.h1-purchase {
  font-size: 50px;
  margin-top: 10px;
}

.h2-purchase,
.p-purchase {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000;
  font-size: 25px;
  text-align: center;
}

.p-purchase {
  font-weight: 500;
}
/*
.purchase-sec {                
    max-height: 900px;
    align-items: center;
}  */

/*Discover*/

.main-homepage {
  display: grid;
  grid-gap: 1em;
  margin: 1em;
  grid-template-areas:
    "hey"
    "weekly-feature"
    "pop-text"
    "popular-creators"
    "new-text"
    "new-uploads"
    "footer";
}

.hey-text {
  margin-top: 20px;
  margin-bottom: 5px;
}

.weekly-feature {
  display: flex;
  flex-direction: column;
}

.featured-pic {
  flex: 1;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  height: auto;
  margin: auto;
}

.featured-text {
  flex: 1;
  max-width: 500px;
  padding: 1em;
  margin: 0 auto;
}

.pop-block {
  display: flex;
  background: #598a8e;
  max-width: 150px;
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  margin: auto;
  margin-bottom: 1em;
}
.creator-pic {
  max-width: 100px;
  border-radius: 50%;
}

.popular-creators {
  display: flex;
  flex-wrap: wrap;
}

.new-block {
  display: flex;
  max-width: 250px;
  flex-direction: column;
  padding: 1em;
  margin: auto;
}

.new-thumbnail {
  max-width: 250px;
  border-radius: 7px;
}

.new-uploads {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.learnmorebtn {
  display: flex;
  justify-content: center;
}

#price {
  color: maroon;
}

@media only screen and (min-width: 700px) {
  .footer-text {
    display: block;
  }

  .profilbtn,
  .search-button {
    padding: 20px;
  }

  .navtext,
  .logo,
  .search-button,
  .profilbtn,
  .cart-button {
    margin-right: 1em;
  }

  .logo {
    margin-left: 2em;
    max-width: 250px;
  }

  body {
    grid-template-areas:
      "header header"
      "main main"
      "main main"
      "footer footer";
  }

  .dropdown-content {
    min-width: 160px;
  }
  /*footer*/
  .footer {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
  }
  .info {
    flex: 1;
  }
  .resrc {
    flex: 1;
  }
  .company {
    flex: 1;
  }
  .follow {
    flex: 1;
  }

  .fa-user-alt {
    color: #000d7c;
  }

  /*choose signeup*/
  .choosebody {
    display: grid;
    grid-template-areas:
      "header header"
      "choose-watcher choose-creator"
      "choose-watcher choose-creator"
      "footer footer";
  }
  .create-watcher,
  .create-creator {
    max-width: 490px;
    height: 500px;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .pickme {
    display: none;
  }

  .boxone-v2 {
    display: block;
    flex: 1;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 30px;
    min-height: 450px;
    max-width: 400px;
    background-color: #000d7c;
    box-shadow: 15px 10px 30px 2px #8a4f5a8b;
  }

  /*search page*/

  .searchpage {
    font-family: proxima-nova-condensed, sans-serif;
    src: url(https://use.typekit.net/hdw2xvn.css);
  }

  .search-films {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    margin: auto;
  }

  .featured,
  .romance,
  .action,
  .documentary,
  .thriller,
  .horror {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
  }

  .gone-second {
    display: block;
  }

  .h1-filmpage {
    font-size: 70px;
  }

  /* Learn more */

  .learnmore {
    display: grid;
    grid-template-areas:
      "header header"
      "main main"
      "aside aside"
      "footer footer";
  }

  .mainlearnmore {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "first-paragraph"
      "second-paragraph";
  }

  .aside-learnmore {
    margin: 1em;
    display: grid;
    grid-template-areas:
      "choose-watcher choose-creator"
      "choose-watcher choose-creator";
  }

  .choose-header {
    margin-top: 2em;
    color: #edd9d9;
  }

  /*Discover*/

  .main-homepage {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "hey hey"
      "weekly-feature weekly-feature"
      "pop-text pop-text"
      "popular-creators popular-creators"
      "new-text new-text"
      "new-uploads new-uploads";
  }

  .pop-block {
    display: flex;
    background: #598a8e;
    max-width: 170px;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    margin: auto;
    margin-bottom: 1em;
  }
  .creator-pic {
    max-width: 150px;
    border-radius: 50%;
  }

  .h2-filmpage {
    font-size: 25px;
  }
}

@media only screen and (min-width: 977px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 55px;
  }

  .count-container {
    position: absolute;
    top: -0.4em;
  }

  .profilbtn,
  .search-button,
  .cart-button,
  .navtext {
    min-width: 0px;
  }

  .text-screen-small {
    display: none;
  }

  .link,
  .green-link {
    font-size: 25px;
    max-width: 200px;
    max-height: 60px;
  }

  .close-menu {
    display: none;
  }

  .link:active,
  .green-link:active {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .login-text {
    font-size: 23px;
  }

  .gone-first {
    display: block;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    padding-bottom: 0px;
    box-shadow: none;
    width: 520px;
  }

  .menu-button {
    display: none;
  }

  /*cart*/

  .main-cart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 900px;
    max-width: 1200px;
  }

  .cart-container {
    min-width: 650px;
  }

  /*filmpage*/

  .filmpage {
    grid-template-areas:
      "header header"
      "main aside"
      "main aside"
      "footer footer";
  }

  .picture-block {
    margin-top: 3em;
  }
  .text-block {
    padding: 30px;
    margin: 0 auto;
  }
  .film-pic {
    width: auto;
    max-height: 500px;
    border-radius: 10px;
  }

  /*profile*/

  .accountpage {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "header header"
      "main aside"
      "main aside"
      "footer footer";
  }

  .icon-info {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
    font-size: 35px;
  }
  .view-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 35px;
  }

  .profile-picture {
    max-width: 40%;
  }

  .profile-picture-v2 {
    display: block;
    border-radius: 50%;
    max-width: 40%;
    height: auto;
  }

  .picdiv {
    display: none;
  }

  .enkel-logo {
    max-width: 50px;
  }
  .intro {
    display: block;
    display: flex;
    flex-direction: column;
    float: right;
    align-items: center;
  }

  .explore {
    margin: 3em;
  }

  .watchlist {
    min-width: 300px;
    max-width: 400px;
    float: right;
    margin: 3em 3em auto auto;
  }

  .thumbnail {
    max-width: 150px;
  }

  .following {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 3em 3em auto auto;
    padding-top: 70px;
  }

  /*discover*/
  .weekly-feature {
    display: flex;
    flex-direction: row;
  }

  .featured-pic,
  .featured-text {
    flex: 1;
  }

  .main-frontpage {
    display: grid;
    margin: 1em;
    grid-template-areas:
      "homesection-one homesection-two"
      "homesection-three homesection-four"
      "homesection-five homesection-six";
  }

  .first-picture,
  .second-picture,
  .third-picture {
    width: 90%;
    height: auto;
    box-shadow: 15px 10px 30px 2px #8a4f5a8b;
  }

  .index-text {
    margin-block-start: 0em;
  }

  .first-picture,
  .third-picture {
    margin-left: 2em;
    margin-top: 3em;
  }

  .second-picture {
    margin-right: 2em;
    margin-top: 5em;
  }

  .third-picture {
    margin-top: 10em;
    margin-bottom: 7em;
  }

  .homesection:nth-child(2),
  .homesection:nth-child(3),
  .homesection:nth-child(6) {
    max-height: 400px;
    max-width: 500px;
    margin: 0 auto;
  }

  .homesection:nth-child(2) {
    margin-top: 2em;
  }

  .watch-info,
  .share-info {
    margin-top: 5em;
    margin-bottom: 3em;
    max-width: 450px;
    height: 400px;
  }

  .share-info {
    margin-top: 10em;
  }

  .login-button {
    width: 60em;
  }
}
