body {
    background-color: pink; 
   }
header {
   background-color: darkgray;
} 
footer {
    background-color: darkgray;
    }   
   h1 {
       font-size: 100px;
       color: blue;
   }
   h2 {
     font-size: 75pxx;  
     color: blue;
    }
nav li {
display: inline-block;
}
nav ul {
    padding: 0px;
    }