body {
    background-color: #F5EAEA; 
   }
   @font-face {
    font-family: expo-sans-pro;
    src: url(https://use.typekit.net/hdw2xvn.css);
}
   h1 {
     font-family: expo-sans-pro, sans-serif;
     font-style: normal;
     font-weight: 700;
     color:  #000D7C;
   }
   h2 {
     font-family: "Expo Sans",'Open Sans';
     font-size: 75px;  
     color: #000D7C;
    }
@font-face {
    font-family: Proxima Nova;
    src: url(https://fonts.adobe.com/fonts/proxima-nova);
}
   p {
       font-family: "Proxima Nova", 'Arial Narrow', 'Franklin Gothic Medium', Arial, sans-serif
header {
   background-color: #CAD0D9;
} 
footer {
    background-color: #CAD0D9;
    }   
nav li {
display: inline-block;
}
nav ul {
    padding: 0px;
    }
nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;   
    }
